{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1 class="text-center">Hello
			{{ controller_name }}! ✅</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Picture</th>
					<th>Release_date</th>
					<th>Duration</th>
					<th>Type</th>
					<th>Genre</th>
					<th>Staff</th>
					<th>Rôle</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for person in persons %}
					{% for medium in person.medias %}
						<td>{{ medium.id }}</td>
						<td>{{ medium.name }}</td>
						<td>{{ medium.description }}</td>
						<td>{{ medium.picture }}</td>
						<td>{{ medium.releaseDate ? medium.releaseDate|date('d-m-Y') : '' }}</td>
						<td>{{ medium.duration ? medium.duration|date('H:i') : '' }}</td><td>{{ medium.types.name }}</td>
						{% for genre in medium.genres %}
							<td>{{ genre.name }}</td>
						{% endfor %}
                        {% endfor %}
                        <td>{{ person.name }}</td>
						<td>{{ person.type }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<a href="{{path('app_home_index')}}" class="btn btn-info fw-semibold">Retour à l'accueil</a>
		</div>
	</div>
{% endblock %}
